<%- include("./header.ejs") %>
	<!-- content -->
  <div class="page-left">
      <%- include("./commenbtn.ejs",{id:"layout_two_left",variable:"layout_two_left"}) %>
  </div>
</div>
</div>
<div class="page-right">
    <%- include("./commenbtn.ejs",{id:"layout_two_right",variable:"layout_two_right"}) %>
</div>

<%= html%>
<%- include("./footer.ejs") %>
